* {
  margin: 0;
}

html {
  color:            white;
  font-family:      sans-serif;
  font-size:        40vmin;
  line-height:      40vmin;
  background-color: black;
  text-align:       center;
  overflow:         hidden;
}

td {
  width:  40vmin;
  height: 40vmin;
}

table {
  margin: 10vmin auto 10vmin auto;
}

#e0:after       { content:'E';  }
#e0:hover:after { content:'⠑';  }
#l:after        { content:'L';  }
#l:hover:after  { content:'し'; }
#e1:after       { content:'E';  }
#e1:hover:after { content:'Ə';  }
#c:after        { content:'C';  }
#c:hover:after  { content:'ج';  }
#o:after        { content:'O';  }
#o:hover:after  { content:'ꙮ';  }
#m:after        { content:'M';  }
#m:hover:after  { content:'མ';  }
